<table class="table table-striped">
  <thead>
  <tr>
    <th>Ime i prezime</th>
    <th>Pozicija</th>
    <th>Period pozicije</th>
    <th>Nadređeni</th>
    <th>Plata</th>
    <th>Aktivni bonusi</th>
    <th>Aktivni odbitci</th>
    <th>Preostali dani godišnjeg</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataItem of EmployeeList">
    <td>{{dataItem.firstAndLastName}}</td>
    <td>{{dataItem.jobPosition}}</td>
    <td>{{dataItem.jobPositionPeriod}}</td>
    <td>{{dataItem.bossFirstAndLastName}}</td>
    <td>{{dataItem.salary}}</td>
    <td>{{dataItem.activeBonus}}</td>
    <td>{{dataItem.activeDeducation}}</td>
    <td>{{dataItem.vacationDays}}</td>
  </tr>
  </tbody>
</table>
