<table class="table table-striped">
  <thead>
  <tr>
    <th>Radnik</th>
    <th>Pozicija</th>
    <th>Datum promjene</th>
    <th>Stari iznos</th>
    <th>Novi iznos</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataItem of SalariesList">
    <td>{{dataItem.employeeFirstAndLastName}}</td>
    <td>{{dataItem.jobPosition}}</td>
    <td>{{dataItem.salaryChanges.date}}</td>
    <td>{{dataItem.salaryChanges.previousSalary}}</td>
    <td>{{dataItem.salaryChanges.newSalary}}</td>
  </tr>
  </tbody>
</table>

