<div style="width: 20%; float: left">
<select [(ngModel)]="selectedEmployee" (ngModelChange)="changeEmployee($event)" class="form-select" aria-label="Default select example">
  <option *ngFor="let dataItem of PositionsList" [ngValue]="dataItem">
    {{dataItem.employeeFirstAndLastName}}
  </option>
</select>
</div>
<div style="width: 20%; float: left">
  <select [(ngModel)]="selectedPosition" class="form-select" aria-label="Default select example">
    <option *ngFor="let dataItem of PossiblePositionsList" [ngValue]="dataItem">
      {{dataItem.positionName}}
    </option>
  </select>
</div>
<button class="m-1 btn btn-light btn-outline-primary" (click)="addPosition($event)" Button>Dodaj</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Pozicija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataItem of CurrentPossiblePositionsList">
    <td>{{dataItem.positionName}}</td>
  </tr>
  </tbody>
</table>
